
.BackButton:hover {
    box-shadow: 3px 3px 3px 3px white;
}


.TextHelp {
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(20,20,20,1);
    text-align: center;
}

.CenterTextBoxHelp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.TextBoxHelp {
    width: 90%;
    height: 80%;
    background-color: #5f5f5f;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(20,20,20,1);
    margin-bottom: 30px;
    margin-top: 30px;
}


.TruckersmpButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 90px;
    border-radius: 30px;
    background: #353535;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(20,20,20,1);
    box-shadow: 3px 3px 3px 3px rgba(60,60,60,1);
}

    .TruckersmpButton:hover {
        box-shadow: 3px 3px 3px 3px #b92025;
    }

.TrucksbookButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 90px;
    border-radius: 30px;
    background: #2f60a3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(20,20,20,1);
    box-shadow: 3px 3px 3px 3px rgba(60,60,60,1);
}

    .TrucksbookButton:hover {
        box-shadow: 3px 3px 3px 3px white;
    }

.imgHelp {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(60,60,60,1);
    width:50%;
}


@media screen and (min-width: 1251px) {
    .PicOrder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 1250px) {
    .PicOrder {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
}


@media screen and (min-width: 651px) {
    .MargeHelp {
        margin-right: -110px;
        margin-right: -110px;
    }
    .HeaderOneHelp {
        color: white;
        font-size: 90px;
        text-shadow: 3px 3px 3px rgba(20,20,20,1);
        text-align: center;
        margin-bottom: 20px;
    }

    .HeaderTwoHelp {
        color: white;
        font-size: 40px;
        text-shadow: 3px 3px 3px rgba(20,20,20,1);
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .BackButton {
        width: 80px;
        height: 29px;
        background-image: -webkit-linear-gradient(45deg, rgba(147,99,41,1) 0%, rgba(251,243,160,1) 50%, rgba(147,99,41,1) 100%);
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgba(60,60,60,1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgba(60,60,60,1);
        margin-right: 25px;
    }
}

@media screen and (max-width: 650px) {

    .MargeHelp {
        margin-right: 0px;
        margin-right: 0px;
    }
    .HeaderOneHelp {
        color: white;
        font-size: 60px;
        text-shadow: 3px 3px 3px rgba(20,20,20,1);
        text-align: center;
        margin-bottom: 20px;
    }

    .HeaderTwoHelp {
        color: white;
        font-size: 29px;
        text-shadow: 3px 3px 3px rgba(20,20,20,1);
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }

    .BackButton {
        width: 80px;
        height: 29px;
        background-image: -webkit-linear-gradient(45deg, rgba(147,99,41,1) 0%, rgba(251,243,160,1) 50%, rgba(147,99,41,1) 100%);
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgba(60,60,60,1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgba(60,60,60,1);
        margin-right: 25px;
        margin-left: -75px;
    }
}

@media screen and (max-width: 481px) {


    .BackButton {
        width: 80px;
        height: 29px;
        background-image: -webkit-linear-gradient(45deg, rgba(147,99,41,1) 0%, rgba(251,243,160,1) 50%, rgba(147,99,41,1) 100%);
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgba(60,60,60,1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgba(60,60,60,1);
        margin-right: 25px;

    }
}


