
.HeadingOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    color:white;
    text-shadow: 3px 3px 3px rgba(20,20,20,1);
}
@media screen and (min-width: 671px) {

  
    .ContactFlex {
        display: flex;
        flex-direction: column;
         align-items:center;
    }


    .ContactBox {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
        height: 500px;
        background-color: #353535;
        box-shadow: 3px 3px 3px rgba(20,20,20,1);
        border-radius: 20px;
    }
    .ContactText {
        display: flex;
        flex-direction:
        row; align-items:
        center; margin-top: 30px;
    }

}

@media screen and (max-width: 670px) {


    .ContactBox {
        display: flex;
        flex-direction: column;
         align-items:center;
    }


    .HeaderOneContact {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
        height: 500px;
        background-color: #353535;
        box-shadow: 3px 3px 3px rgba(20,20,20,1);
        border-radius: 20px;
    }

}